@use "../../shared/utils/mixins" as *;
@use "../../shared/utils/vars" as *;

.block {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .img {
    height: 400px;
    object-fit: cover;
  }

  .text_block {
    display: flex;
    flex-direction: column;
    gap: 6px;

    .title {
      font-weight: 300;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: -0.02em;
      color: $mainBlack;
    }

    .subtitle {
      font-weight: 400;
      font-size: 12px;
      line-height: 120%;
      letter-spacing: -0.02em;
      color: $mainGray;
    }
  }
}
