// backgrounds
$background: #ffffff;
$grayBackground: #eee;
$blackTitle: #171717;
$darkBlueTitle: #344054;
$blackText: #000000;
$darkBlueText: #344054;
$grayText: #8a8a8a;
$whiteText: #ffffff;
$tabBarGray: #5a5a5a;
$blue: #007aff;
$greenBackground: #00a77f;
$darkerBlue: #0655ac;
$darkBlue: #1d2939;
$error: #ff0000;
$border: 0.65px solid #e4e7ec;
$sideBarBorder: 1px solid rgba(0, 0, 0, 0.1);
$stackBorder: 1px solid #f2f2f5;
$activeBorder: 0.65px solid #2b3f6c;
$main-radius: 31.5px;
$mainBlack: #151515;
$mainGray: #9e9e9e;
$secondBlack: #2f2f2f;

// shadow
$shadow: 0px 9px 23.6px 0px rgba(0, 0, 0, 0.25);

// fonts
$main-font: "Inter", sans-serif;
$second-font: "Impact", sans-serif;

// size
$mobile: "390px";
$tablet: "768px";
$dekstop: "1440px";
